@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(217, 250, 247);
}

img {
  height: 150px;
  width: 150px;
}

.central {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

#name-container {
  font-size: 28px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#separator {
  margin: 5px;
  display: flex;
  justify-content: center;
}